<div class="row">
	<div class="large-12 columns">
		<h2>Monthly Balance</h2>
		<p>Current monthly balance: <%= raw calculate_budget(6666, 4000) %></p>
	</div>
</div>

<div class="row">
	<div class="large-6 medium-6 small-12 columns">
		<h3>Credits</h3>
		<p><%= link_to "+ Add Credit", controller: 'credits', action: 'new' %></p>
		<table>
		  <tr>
		    <th>Name</th>
		    <th>Amount</th>
		    <th>Monthly Value</th>
		    <!-- <th>Edit</th> -->
		    <th>Delete</th>
		  </tr>
			<% @credits.each do |credit| %>
			  <tr>
			    <td><%= credit.name %></td>
			    <td><%= number_to_currency(credit.amount) %></td>
			    <td><%= number_to_currency(credit.monthly_value) %></td>
			    <!-- <td><%= link_to 'Edit', edit_credit_path(credit.id) %></td> -->
			    <td><%= link_to "Delete", credit_path(credit.id), method: :delete %></td>
			  </tr>
			<% end %>
		</table>
	</div>

	<div class="large-6 medium-6 small-12 columns">
		<h3>Debits</h3>
		<p><%= link_to "+ Add Debit", controller: 'debits', action: 'new' %></p>
		<table>
		  <tr>
		    <th>Name</th>
		    <th>Amount</th>
		    <th>Monthly Value</th>
		    <!-- <th>Edit</th> -->
		    <th>Delete</th>
		  </tr>
			<% @debits.each do |debit| %>
			  <tr>
			    <td><%= debit.name %></td>
			    <td><%= number_to_currency(debit.amount) %></td>
			    <td><%= number_to_currency(debit.monthly_value) %></td>
			    <!-- <td><%= link_to 'Edit', edit_debit_path(debit.id) %></td> -->
			    <td><%= link_to "Delete", debit_path(debit.id), method: :delete %></td>
			  </tr>
			<% end %>
		</table>
	</div>
</div>
