<div class="row">
	<div class="large-12 columns">
		<h1>Create a New Credit</h1>

		<%= form_for :credit, url: {action: "create"} do |f| %>
			<p>
				<%= f.label :name %>
				<%= f.text_field :name %>
			</p>
			
			<p>
				<%= f.label :amount %>
				<%= f.text_field :amount %>
			</p>

			<p>
				<%= f.label :interval %>
				<%= f.select(:interval, options_for_select([
						['Yearly', 1], 
						['Monthly', 2],
						['Bi-Monthly', 3],
						['Weekly', 4],
						['One Time', 5]
					])
				) %>
			</p>

			<%= f.submit "Create Credit" %>
		<% end %>
	</div>
</div>
